.founder_Banner {
    display: flex;
    justify-content: center;
    background-color: #121212;
    padding: 2rem;
    color: #FEFEFE;
}

.founder_Banner_Content {
    margin-top: 4rem;
}

.founder_Banner_Content > h3 {
    font-family: 'Spring';
}

.founder_Photo {
    width: 100%;
    background-image: url('/public/images/founder/background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

.founder_Banner_Content > p {
    font-size: 0.8rem;
}