.info_Content {
    padding: 4rem;
    background-color: #121212;
    color: #FEFEFE;
    padding-top: 8rem;
}

.info_Content > h2 {
    font-family: 'Spring';
    margin-bottom: 4rem;
}

.info_Content > p {
    text-align: left;

}

.info_Content > ol > li > a {
    color: #FEFEFE;
    text-decoration: underline;
}

.info_Content > ul > li > a{
    text-decoration: underline;
    color: #FEFEFE;
}

.info_Content {
    text-align: left;
}

.info_Content > p > a {
    text-decoration: none;
    color: #FEFEFE;
    
}


    table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
