.mental_Content {
    background-color: #121212;
    color: #FEFEFE;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mental_Folder {
    background-color: #202020;
    padding: 1rem;
    border-radius: 1rem;
    font-family: 'Spring';
    font-size: 0.8rem;
    margin-bottom: 4rem;
}

.mental_Content > h3 {
    font-family: 'Spring';
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.mental_Content > p {
    font-size: 1rem;
    max-width: 700px;
}

.mental_Cards {
    display: flex;
    margin-bottom: 4rem;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.mental_Card_Dark{
    background-color: #202020;
    color: #FEFEFE;
    padding: 1rem;
    width: 100%;
    border-radius: 1rem;
}

.mental_Card_Green{
    background-color: #C4F969;
    color: #121212;
    padding: 1rem;
    width: 100%;
    border-radius: 1rem;
}

.performance_Cards_Group {
    display: flex;
    flex-direction: column;
    background-color: blue;

}

.performance_Cards-1 {
    display: flex;
    max-width: 800px;
    margin-top: 4rem;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
}

.performance_Cards-2 {
    display: flex;
    max-width: 800px;
    margin-top: 1rem;
    margin-bottom: 4rem;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
}

.performance_Card {
    background-color: #202020;
    padding: 1rem;
    max-width: 300px;
    height: 150px;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 0.8rem;
}
.performance_Card > img {
    height: 50px;
    padding: 1rem;
}
.performance_Card > p {
    width: 170px;
}

@media (max-width: 768px) {
    .mental_Cards {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .performance_Cards-1 {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .performance_Cards-2 {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 2rem;
    }
}
