.nutrition_Content {
    background-color: #121212;
    color: #FEFEFE;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nutrition_Folder {
    background-color: #202020;
    padding: 1rem;
    border-radius: 1rem;
    font-family: 'Spring';
    font-size: 0.8rem;
    margin-bottom: 3rem;
}

.nutrition_Content > h3 {
    font-family: 'Spring';
}

.nutrition_Content > p {
    font-size: 1rem;
    padding: 2rem;
    max-width: 700px;
}

.nutrition_Cards {
    display: flex;
    margin-bottom: 1rem;
    gap: 1rem;
    margin-top: 3rem;
    align-items: center;
    justify-content: space-between;
}

.nutrition_Card_Dark {
    background-color: #202020;
    color: #fefefec2;
    padding: 1rem;
    width: 100%;
    border-radius: 1rem;
}

.nutrition_Card_Green {
    background-color: #C4F969;
    color: #121212b4;
    padding: 1rem;
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}

.nutrition_Performance_Cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    justify-content: space-around;
}

.performance_Card {
    background-color: #202020;
    padding: 1rem;
    max-width: 300px;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 0.8rem;
}

.performance_Card > h3 {
    font-family: 'Spring';
}

.performance_Card > p {
    width: 170px;
}

@media (max-width: 768px) {
    .nutrition_Cards {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .nutrition_Performance_Cards  {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        padding: 1rem;
    }

    .performance_Card {
        font-size: 0.6rem;
        max-width: 130px;
        height: 110px;
    }

    .performance_Card > p {
        width: 130px;
    }

    .nutrition_Content > p {
        width: 100%;
    }
}
