.application_Content {
    padding-right: 4rem;
    padding-left: 4rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
    background-color: #121212;
    color: #FEFEFE;
}

.application_Content > h1 {
    font-family: 'Spring';
}

.application_Buttons {
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.application_Buttons > a > button {
    border: none;
    padding: 0.7rem;
    width: 150px;
    border-radius: 0.5rem;
    font-size: 1rem;
    margin-top: 1rem;
    border: 1px solid #C4F969;
}

.application_Buttons > button {
    border: none;
    padding: 0.7rem;
    width: 150px;
    border-radius: 0.5rem;
    font-size: 1rem;
    margin-top: 1rem;
    border: 1px solid #C4F969;
    transition: background-color 0.3s, color 0.3s; 
}

.learn_More_Button {
    background-color: #121212;
    color: #C4F969;
    border: 1px solid #C4F969;
    transition: background-color 0.3s, color 0.3s; 
}

.apply_Button {
    background-color: #C4F969;
    color: #121212;
    border: 1px solid #C4F969;
    transition: background-color 0.3s, color 0.3s; 
}

.learn_More_Button:hover {
    background-color: #C4F969;
    color: #121212;
    cursor: pointer;
    border: 1px solid #C4F969;
}

.apply_Button:hover {
    background-color: #121212;
    color: #C4F969;
    cursor: pointer;
    border: 1px solid #C4F969;
    
}
