.founder {
    background-color: #121212;
    color: #FEFEFE;
    padding: 2rem;
}

.founder_Content {
    display: flex;
    flex-direction: column;
}

.founder_Content > h2 {
    font-family: 'Spring';
}

.founder_Card {
    background-image: url('/public/images/founder/founder.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 2rem;
}

.founder_Text {
    display: flex;
    flex-direction: column;
    bottom: 2rem;
    margin-top: 13rem;
    align-items: center;
}

.founder_Text > h2{
    margin: 0;
    color: #C4F969;
}

.founder_Text > p {
    font-size: 0.8rem;
    max-width: 90%;
}

.founder_Buttons {
    display: flex;
    gap: 1rem;
}

.founder_Button > button {
    padding-right: 3rem;
    padding-left: 3rem;
    border-radius: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: none;
    color: #FEFEFE;
    color: #C4F969;
    cursor: pointer;
    background-color: #121212;
}