.hero_Content {
    background-image: url('/public/images/hero-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    color: #FEFEFE;
    height: 100vh;
    padding: 2rem;
}

.hero_Content > h1 {
    font-size: 3rem;
    position: absolute;
    bottom: 3rem; 
    left: 50%; 
    width: 100%;
    transform: translateX(-50%);
    font-family: 'Spring', sans-serif;
    text-align: center;
    text-decoration: none; 
    color: inherit; 
    cursor: pointer;
}

.hero_Content > h1:hover {
    text-decoration: underline;
    text-decoration-color: #C4F969; 
}


.hero_Content > p {
    position: absolute;
    bottom: 0.5rem;
    font-size: 0.8rem;
    left: 50%; 
    width: 80%;
    transform: translateX(-50%);
}
