.hero_Content {
    background-image: url('/public/images/hero-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    color: #FEFEFE;
    padding: 2rem;
    height: 95vh;
}

.hero_Text {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: end;
}

.hero_Text > h1 {
    font-size: 3rem;
    font-family: 'Spring', sans-serif;
    text-align: center;
    color: inherit;
    margin-bottom: 1rem;
    text-decoration: underline;
    text-decoration-color: #C4F969; 
}

.hero_Text > p {
    font-size: 1rem;
    max-width: 650px;
}

@media (max-width: 768px) {
    .hero_Text > h1 {
        font-size: 1.5rem;
    }

    .hero_Content {
        height: 55vh;
    }

    .hero_Text > p {
        font-size: 0.8rem;
    }
}
