@font-face {
    font-family: 'Spring';
    src: url('/public/fonts/regular.otf') format('opentype');
}

.nav {
    background-color: #12121200;
    color: #FEFEFE;
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.scrolled {
    background-color: #121212;
}

.nav_Content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.nav_Logo {
    display: flex;
    width: 11rem;
    margin-top: 0.5rem;
    height: 1.2rem;
}

.nav_Items {
    display: flex;
    gap: 5rem;
}

.nav_Items > a {
    cursor: pointer;
    font-family: 'Spring', sans-serif;
    font-size: 0.8rem;
    color: #FEFEFE; /* Added color */
    text-decoration: none; /* Remove underline */
}

.nav_Items > a:hover {
    text-decoration: underline;
}

.nav_Button > button {
    padding: 0.5rem;
    width: 150px;
    cursor: pointer;
    background-color: #121212;
    color: #C4F969;
    border: 1px solid #C4F969;
}

.nav_Button > button:hover {
    background-color: #C4F969;
    color: #121212;
}

.nav_MobileItems {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    color: #fefefe;
    font-size: 0.8rem;
    top: 50px;
    right: 2rem;
    flex-direction: column;
}

.nav_MobileItems > a {
    cursor: pointer;
    padding: 1rem;
    color: #FEFEFE; /* Added color */
    text-decoration: none; /* Remove underline */
}

.nav_MobileItems > a:hover {
    text-decoration: underline;
    text-decoration-color: #C4F969;
}

@media (max-width: 768px) {
    .nav_Items > a {
        display: none;
    }
}

@media (min-width: 768px) {
    .nav_Button {
        display: none;
    }
}
