.partners_Content {
    background-color: #202020;
    color: #FEFEFE;
    padding: 2rem;
    justify-content: space-around;
    display: flex;
}

.partners_Content > img {
    height: 2rem;
    filter: grayscale(1);
    cursor: pointer;
}

.partners_Content > img:hover {
    filter: grayscale(0);
}

@media (max-width: 768px) {
    .partners_Content {
        overflow-x: auto;
        gap: 1rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .partners_Content::-webkit-scrollbar {
        display: none; /* Hide the scrollbar */
    }

    .partners_Content > img {
        height: 3rem;
        filter: grayscale(1);
        cursor: pointer;
    }
}

