.partners_Content {
    background-color: #202020;
    color: #FEFEFE;
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: space-around;
    display: flex;
}

.logos-slide > img {
    height: 2rem;
    filter: grayscale(1);
    cursor: pointer;
}

.logos-slide > img:hover {
    filter: grayscale(0);
}

@media (max-width: 768px) {
    .partners_Content {
        overflow-x: auto;
        gap: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .partners_Content::-webkit-scrollbar {
        display: none;
    }

    .partners_Content > img {
        height: 3rem;
        filter: grayscale(1);
        cursor: pointer;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #f2f2f2;
  }
  
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: '';
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #202020);
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #202020);
  }
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
  }
  
  .logos-slide img {
    height: 50px;
    margin: 0 40px;
  }
  