.popup {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.popup_Content {
    padding: 2rem;
    background-color: #FEFEFE;
    border-radius: 1rem;
    display: flex;
    width: 80%;
    max-width: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup_Content > form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup_Content > form > h4 {
    font-family: 'Spring';
    font-size: 1rem;
    color: #121212;
}

.popup_Content > form > p {
    color: #121212;
}

.popup_Content > form > label {
    width: 100%;
}

.popup_Content > form > label > input {
    background-color: #D9D9D9;
    border: none;
    padding: 1rem;
    width: calc(100% - 2rem);
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

.popup_Content > form > label > select {
    background-color: red;
    appearance: none;
    background-color: #D9D9D9;
    border: none;
    padding: 1rem;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}



.popup_Content > form > button {
    background-color: #121212;
    color: #FEFEFE;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 100%;
    border: none;
    cursor: pointer;
}

.popup_Content > form > button:hover {
    background-color: #C4F969;
    color:#121212;
}

.popup_Content > form > label > textarea {
    border: none;
    width: calc(100% - 2rem); 
    background-color: #FEFEFE;
    border: 1px solid #D9D9D9;
    padding: 1rem;
    height: 100px;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    resize: vertical;
}
