.story {
    background-color: #121212;
    padding: 2rem;
    color: #FEFEFE;
}

.story > h2 {
    font-family: 'Spring';
}

.story_Content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
    margin-top: 3rem;
}

.story_Image {
    height: 300px;
    align-items: center;
    display: flex;
}

.story_Image > img {
    width: 250px;
}

.story_Text > p {
    display: flex;
    font-size: 1rem;
    text-align: left;
    max-width: 400px;
}

@media (max-width: 768px) {
    .story_Content {
        display: flex;
        flex-direction: column;
    }
    .story_Image {
        height: 400px;
        align-items: center;
        display: flex;
    }
}