.story {
    background-color: #121212;
    padding: 2rem;
    color: #FEFEFE;
}

.story > h2 {
    font-family: 'Spring';
}

.story_Content {
    display: flex;
    align-items: center;
    margin-top: 3rem;
}

.story_Image {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 50%;
}

.story_Text {
    width: 50%;
    padding-right: 2rem;
}

.story_Text > p {
    display: flex;
    font-size: 1rem;
    text-align: left;
}

@media (max-width: 768px) {
    .story_Content {
        display: flex;
        flex-direction: column;
    }
    .story_Image {
        align-items: center;
        display: flex;
        width: 100%;
    }

    .story_Image > img {
        width: 90%;
        padding-bottom: 4rem;
        padding-top: 4rem;
    }

    .story_Text {
        width: 90%;
        padding-right: 0rem;
    }

    .story_Text > p {
        text-align: center;
    }

}