
.qa-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
}

.qa-section h2 {
    font-size: 24px;
    color: #002D4F;
    font-family: Montserrat;
    margin-top: 50px;
    margin-bottom: 80px;
    font-weight: 500;
}

.qa-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 100px;
}

.question-block {
    background-color: #FBFBFA;
    width: 100%;
}

.question-block-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.question-block-content p {
    font-size: 20px;
    font-weight: 400;
    color: #002D4F;
    margin-right: 30px;
}

.question-block-content svg {
    cursor: pointer;
}

/* Initially hide the answers  */
.answer-block {
    display: none;
}

.answer-block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #FBFBFA;
    font-weight: 400;
    border: 1px solid #002D4F;
    background-color: #002D4F;
    transition: max-height 0.3s ease;
    max-height: 0; 
    overflow: hidden; 
}

.answer-block-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 15px;
    font-weight: 400;
    padding-top: 100px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 100px;
}
